* {
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}

body {
    background-color: beige;
}

header {
    padding: 15px;
    margin-bottom: 10px;
    background-color: seashell;
    text-align: center;
}


table {
    width: 90%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: left;
}

h2 {
    margin-left: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 5px;
    text-align: center;
}

button:hover {
    background-color: lightcoral;
}